
@media (max-width: 500px) {

.main-blog-page{
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 20.5vh auto 15vh;
    grid-template-areas: 
        "bl bl bl"
        "nv pt pt"
        "nv cc cc"
        "ft ft ft";
}

 .blog-logo {
    grid-area: bl;
    width: 60vh;
    height: auto;
    justify-self: center;

 }

 .nav-bar{
    grid-area: nv;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

    .nav-bar-button {
        border: none;
        background-color: #fff;
        height: 5%;
    }

    .nav-bar-button:hover{
        box-shadow: 0 8px 16px 0 #e9efe0;
    }

 .page-title{
    grid-area: pt;
    text-align: center;
    align-self: self-start;
 }

 .content-cards {
    grid-area: cc;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px 0;

 }
    .content-card{
        width: 200px;
        height: auto;
        align-self: center;
        background-color: #efefef;
        border-color: #e9efe0;
        border-radius: 5%;
        padding: 5px;
        
    }

    .content-card:hover{
        box-shadow: 0 8px 16px 0 #DFEEC9;
    }
    .card-img {
        background-position: center;
        width: 200px;
        height: 120px;
        background-size: contain;
    }

 .footer{
    grid-area: ft;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh;
    grid-template-areas: 
        "it tw yt"
        "sb sb sb";
    justify-items: center;
    padding: 10px 0 10px 0;
 }
    .instagram {
        grid-area: it;
        background-image: url("../images/instagram-logo.png");
        background-size: cover;
        height: 60px;
        width: 60px;
    }

    .twitter {
        grid-area: tw;
        background-image: url("../images/twitter-logo.png");
        background-size: cover;
        height: 60px;
        width: 60px;
        text: #fff 0px;
        text-decoration: none;   
    }

    .youtube {
        grid-area: yt;
        background-image: url("../images/youtube-logo.png");
        background-size: cover;
        height: 60px;
        width: 85px;
    }
        .tags {
            display: none;
        }

    .subscribe {
        grid-area: sb;
    }
}

/* MEDIUM SIZE */ 

 @media (min-width: 501px)  {
    
    .main-blog-page{
        width: 98%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 30vh 18vh auto 15vh;
        grid-template-areas: 
            "bl bl nv nv nv"
            "pt pt pt pt pt"
            "cc cc cc cc cc"
            "ft ft ft ft ft";
    }

    .blog-logo {
        grid-area: bl;
        width: 40vh;
        height: auto;
        align-self: self-start;

    }

    .nav-bar{
        grid-area: nv;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-bar-button {
        border: none;
        background-color: #fff;
        height: 20%;

    }

    .nav-bar-button:hover{
        box-shadow: 0 8px 16px 0 #e9efe0;
    }


    .page-title{
        grid-area: pt;
        text-align: center;
        background-color: rgb(150,173,129,0.2);
        box-shadow: 0 8px 16px 0 #DFEEC9;
    }

    .content-cards {
        grid-area: cc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        gap: 10px;
        padding: 20px 0 10px 0;
    
     }
        .content-card{
            width: 200px;
            height: auto;
            background-color: #efefef;
            border-color: #e9efe0;
            border-radius: 5%;
            padding: 5px;
            
        }
    
        .content-card:hover{
            box-shadow: 0 8px 16px 0 #DFEEC9;
        }
    
        .card-img {
            background-position: center;
            width: 200px;
            height: 120px;
            background-size: contain;
        }

        .footer{
            grid-area: ft;
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-template-rows: 12vh 12vh 12vh;
            grid-template-areas: 
                "it t1 sb"
                "tw t2 sb"
                "yt t3 sb";
            justify-items: center;
            padding: 10px 0 10px 0;
         }
            .instagram {
                grid-area: it;
                background-image: url("../images/instagram-logo.png");
                background-size: cover;
                height: 50px;
                width: 50px;
                justify-self: end;
            }

            #tag-1 {
                grid-area: t1;
                justify-self: start;
                align-self: center;
                padding: 0 0 0 5px;
            }
            .twitter {
                grid-area: tw;
                background-image: url("../images/twitter-logo.png");
                background-size: cover;
                height: 50px;
                width: 50px;
                justify-self: end;
            }
            #tag-2 {
                grid-area: t2;
                justify-self: start;
                align-self: center;
                padding: 0 0 0 5px;
            }
        
            .youtube {
                grid-area: yt;
                background-image: url("../images/youtube-logo.png");
                background-size: cover;
                height: 35px;
                width: 50px;
                justify-self: end;
            }

            #tag-3 {
                grid-area: t3;
                justify-self: start;
                align-self: center;
                padding: 0 0 0 5px;
            }

            .subscribe {
                grid-area: sb;
                align-self: center;
            }
 }

 @media (min-width: 1025px) {

    .main-blog-page{
        width: 98%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 40vh 30vh auto 15vh;
        grid-template-areas: 
            "bl bl bl nv nv nv nv nv"
            "pt pt pt pt pt pt pt pt"
            "cc cc cc cc cc cc cc cc"
            "ft ft ft ft ft ft ft ft";
    }
    .blog-logo {
        grid-area: bl;
        width: 60vh;
        height: auto;
    }
    .nav-bar{
        grid-area: nv;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
    }

    .nav-bar-button {
        border: none;
        background-color: #fff;
        height: 30%;

    }

    .nav-bar-button:hover{
        box-shadow: 0 8px 8px 0 #e9efe0;
    }

    .page-title{
        grid-area: pt;
        text-align: center;
        align-self: start;
    }

    .content-cards {
        grid-area: cc;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px 0 10px 0;
    
     }
        .content-card{
            width: 300px;
            height: auto;
            align-self: center;
            background-color: #efefef;
            border-color: #e9efe0;
            border-radius: 5%;
            padding: 5px;
            
        }
    
        .content-card:hover{
            box-shadow: 0 8px 16px 0 #DFEEC9;
        }
    
        .card-img {
            background-position: center;
            width: 300px;
            height: 200px;
            background-size: contain;
        }

        .footer{
            grid-area: ft;
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-template-rows: 12vh 12vh 12vh;
            grid-template-areas: 
                "it t1 sb"
                "tw t2 sb"
                "yt t3 sb";
            justify-items: center;
            padding: 10px 0 10px 0;
         }
            .instagram {
                grid-area: it;
                background-image: url("../images/instagram-logo.png");
                background-size: cover;
                height: 50px;
                width: 50px;
                justify-self: end;
            }

            #tag-1 {
                grid-area: t1;
                justify-self: start;
                align-self: center;
                padding: 0 0 0 5px;
            }
            .twitter {
                grid-area: tw;
                background-image: url("../images/twitter-logo.png");
                background-size: cover;
                height: 50px;
                width: 50px;
                justify-self: end;
            }
            #tag-2 {
                grid-area: t2;
                justify-self: start;
                align-self: center;
                padding: 0 0 0 5px;
            }
        
            .youtube {
                grid-area: yt;
                background-image: url("../images/youtube-logo.png");
                background-size: cover;
                height: 35px;
                width: 50px;
                justify-self: end;
            }

            #tag-3 {
                grid-area: t3;
                justify-self: start;
                align-self: self-start;
                padding: 0 0 0 10px;
            }

            .subscribe {
                grid-area: sb;
                align-self: center;
            }

    h1 {
        font-size: 40px;
        padding: 0;
    }
 }
    